.snakemake
*.pyc
*.gz
*.tmp
*.tsv
*.json
slurm-*
models/

civicmine_conservative.tsv
civicmine_sentences.tsv
civicmine_collated.tsv
gene_with_protein_product.txt
nightly-ClinicalEvidenceSummaries.tsv

/paper/_book/
/paper/_bookdown_files/
/paper/_main.*
/paper/sideeffects.pdf

/shiny/google-analytics.js

.R*
civicmine.Rproj
.Rproj.user
